@model IEnumerable<Gasolineras.Models.Gasolinera>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Latitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Longitud)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Nombre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Amenidades)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioMagna)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioPremium)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.PrecioDiesel)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraApertura)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.HoraCierre)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Marca1.Descripcion)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.Latitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Longitud)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Nombre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Amenidades)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioMagna)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioPremium)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.PrecioDiesel)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraApertura)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.HoraCierre)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Marca1.Descripcion)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id })
            </td>
        </tr>
    }

</table>
