@using Gasolineras.Models
@model LoginViewModel
@{
    ViewBag.Title = "Bienvenido";
}
    <div class="container">


        <div class="row">
            <div class="col-xs-12">
                <center>
                    <h2>@ViewBag.Title</h2>
                </center>
            </div>

        </div>
        <div class="row">
            <div class="col-md-8">
                <section id="loginForm">
                    @using (Html.BeginForm("Login", "Account", new { ReturnUrl = ViewBag.ReturnUrl }, FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
                    {
                    <center>
                        @Html.AntiForgeryToken()
                        <div class="row">
                            <div class="col-xs-12">
                                <center>
                                    <img style="max-width:40%" src="~/Content/assets/logo.png" />
                                </center>
                            </div>
                        </div>
                        <hr />
                        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                        <div class="form-group">
                            @Html.LabelFor(m => m.Email, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.TextBoxFor(m => m.Email, new { @class = "form-control text-box-admin" })
                                @Html.ValidationMessageFor(m => m.Email, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            @Html.LabelFor(m => m.Password, new { @class = "col-md-2 control-label" })
                            <div class="col-md-10">
                                @Html.PasswordFor(m => m.Password, new { @class = "form-control text-box-admin" })
                                @Html.ValidationMessageFor(m => m.Password, "", new { @class = "text-danger" })
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <div class="checkbox">
                                    @Html.CheckBoxFor(m => m.RememberMe)
                                    @Html.LabelFor(m => m.RememberMe)
                                </div>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-md-offset-2 col-md-10">
                                <center>
                                    <input type="submit" value="Iniciar sesión" class="btn btn-success btn-admin" />
                                </center>
                            </div>
                        </div>
                        <p>
                            <center>
                                @Html.ActionLink("Registrarse como usuario nuevo", "Register")
                            </center>
                        </p>

                        <p>
                            <center>
                                @Html.ActionLink("¿Ha olvidado su contraseña?", "ForgotPassword")
                            </center>
                        </p>

                        </center>
                    }
                </section>
            </div>
          
        </div>
    </div>
@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}